<p>Si en entrega continua nos quedamos a un solo paso para que el usuario final utilice el producto, con despliegue continuo todo el ciclo de entrega se completa.

  Utilizando despliegue continuo al realizar un commit sobre la rama principal, se ejecutarán todos los pasos necesarios (de forma automática) para el despliegue del proyecto a producción. Esto se traduce en que el usuario final estará utilizando un producto en constante actualización.

  Para implementar despliegue continuo será necesario haber implementado de forma correcta integración continua.</p>
