<div class="container menu-principal">
  <div class="row justify-content-center">
    <div class="col-3">
      <img src="./assets/integracion.png" width="300" alt="continua">
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 ">
      <a routerLink="/personas">
        <i class="fas fa-user-alt-slash fa-7x "></i>
        <h2>Personas.</h2>
      </a>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <a routerLink="/peliculas">
        <i class="fas fa-film fa-7x"></i>
        <h2>Películas.</h2>
      </a>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 ">
      <a routerLink="/especies">
        <i class="fab fa-pied-piper-alt fa-7x"></i>
        <h2>Especies</h2>
      </a>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
